<section>
      
     <ul class="list-group mb0"  >          
             <li class="list-group-item farap bcsobolan" 
                 ng-repeat="v in rezFiltre=(viuuDate.rf  | filter:scrisu) |limitTo: 24" 
             >   
                <a href=""
                   ng-click='initIP(v)'        
                >
                      <div class="elmav inav">
                           <span >{{v}}</span> </div>
                </a>
            </li>
      </ul> 
     
</section>