<section>
    <ul class="list-group mb0">
        <li class="list-group-item farap"
            ng-repeat='elm in arrViuuData.meniu'
            ng-hide='elm.invizibil'
            ng-click='apasElmMeniu($index,elm)'
            ng-class='elm.clasa'
        > <span>
            <span class='glyphicon glyphicon-ok'
                  ng-show='elm.bifat'
                  ></span>
            <span 
            > {{elm.numeUser}} </span>
        </span>
            
        </li>
    </ul>
</section>